<%- include('./partials/head') %>
    <h1>
        <%= title %>
    </h1>
    <div id="snakeField">
        <% for(let i=0; i < 100; i++) { %>
            <div class="item">
                <%# i %>
            </div>
            <% } %>
    </div>
    <%- include('./partials/foot') %>