<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input,
        select {
            display: block;
        }
    </style>

</head>

<body>
    <ul>
        <li>wir posten die Eingaben an unser Backend
        </li>
        <li>action=Pfad an den wir es senden wollen </li>
        <li>method=post</li>
        <li>unsere Felder brauchen das Attribut name</li>
    </ul>
    <a href="/all">Show all</a>

    <form action="/add" method="post">
        <input type="text" name="myText" placeholder="" required>
        <input type="number" name="myNumber">
        <select name="mySelect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <input type="submit" value="Absenden">
    </form>

</body>

</html>